html {
  background-color: black;

}

body, a {
  color: white;
}

.playButton {
  position: absolute;
  height: 50px;
  top: 15px;
}

h1 {
  position: relative;
  margin-left: 60px;
}

nav {
  /* position: relative;

  margin-bottom: auto; */
  display: flex;
flex-direction: column;
}

.homeButton, .collection1Button, .collection2Button, .collection3Button, .uploadForm {
top: 0;
z-index: 10;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
}

iframe {
  position: relative;

}

th {
  min-width: 100px;
  max-width: 562px;
  vertical-align: top
}

h3 {
  margin-left: 100px;
}

.form {
  text-align: left;
  padding-left: 100px;

}

.formTitle {
  text-align: center;
  margin-left: 0px;
  font-family: Didot, serif;
}

.searchBar {
  position: absolute;
  top: 30px;
  left: 350px;
  width: 350px;
  border: solid grey 0.1px;
  background-color: black;
  border-radius: 15px;
  padding: 5px 5px 5px 25px;
}

.searchButton {
  position: absolute;
  height: 20px;
  left: 700px;
  top: 33px;
}

.searchBar::placeholder {
  color: grey;
}

h1  {
  font-family: Impact, fantasy;
  font-variant: small-caps;
}

.uploadButton {
  background-color: red;
  width: 100%;
  height: 30px;
  color: white;
  font-family: Impact, fantasy;
  border-radius: 8px;
}

.videoTitle, .description, .videoFileLabel, .audience, .publicLabel, .privateAudience {
  font-family: Gill Sans, sans-serif;
}

.featuredHeadline {
  margin-left: 0px;
}

p {
  text-align: left;
}

.v1pStyle, .v2pStyle, .v3pStyle, .v4pStyle, .v5pStyle {
  color: lightgray;
  font-weight: 10;
  font-size: small;
}

.v1pStyle {
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.v2pStyle {
  font-family: Luminari, fantasy;
}

.v3pStyle {
  font-family: Marker Felt, fantasy;
}

.v4pStyle {
  font-family: Trattatello, fantasy;
}

.v5pStyle {
  font-family: Arial, sans-serif;
}

.v6pStyle {
  font-family: Helvetica, sans-serif;
}

.v7pStyle {
  font-family: 'Times New Roman', Times, serif;
}

.v8pStyle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.v9pStyle {
  font-family: 'Courier New', Courier, monospace;
}

.v10pStyle {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.v11pStyle {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.v12pStyle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.v13pStyle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.v14pStyle {
  font-family: fantasy;
}

.v15pStyle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.v16pStyle {
  font-family: cursive;
}


.v17pStyle {
  font-family: monospace;
}


.v18pStyle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.videoLink {
  font-family: fantasy;
  text-decoration: none;
}

footer {
  font-family: Luminari, fantasy;
}
